body {
  opacity: 0.9;
  z-index: 999;
  background: #000;
  color: #DDD;
  font-family: monospace;
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  outline-top: 3px solid #DEDEDE;
  box-shadow: 0px -4px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -4px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px -4px 5px rgba(0,0,0,0.5);
  font-size: 16px;
}

.modal-body {
  max-height: none;
}

div.query{
  margin-top: 10px;
  font-weight: bold;
  padding-top: 10px;
  border-top: 1px dashed #333;
  margin-bottom: 5px;
}

div.query_multiline{
  font-weight: bold;
  margin-bottom: 5px;
}

div.query:first-child{
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

div.result{
  font-weight: normal;
}

.console div, .console span {
  font-size: 14px;
  border: 0;
  font-family: monospace;
  color: #FFF;
}

.console div.results_wrapper{
  width: 100%;
  position: absolute;
  overflow-x: auto;
  top: 0;
  bottom: 40px;
}

.console div.results{
  padding: 10px;
  white-space: nowrap;
}

.prompt{
  width: 30px;
  text-align: center;
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
}

.console div.input{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #000;
}

.console div.input input{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 2px;
  width: 100%;
  font-size: 14px;
  background: transparent;
  border: 0;
  font-family: monospace;
  color: #FFF;
  height:22px;
}

#console_input:focus {
    outline: none;
    outline-width: 0;
}

.input .input_box{
  margin-left: 30px;
  margin-right: 10px;
  display: block;
}

.form-signin, .form-rules, .form-participants {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-rules
{
    max-width: 600px;
}

.form-participants
 {
max-width: 500px;
 }

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}